<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.hcm.grw.dto.doc.SignTreeDto" alias="SignTreeDto"/>
		<typeAlias type="com.hcm.grw.dto.doc.SignFavoDto" alias="SignFavoDto"/>
		<typeAlias type="com.hcm.grw.dto.doc.SignBoxDto" alias="SignBoxDto"/>
		<typeAlias type="com.hcm.grw.dto.doc.SignTempBoxDto" alias="SignTempBoxDto"/>
		<typeAlias type="com.hcm.grw.dto.doc.SignJsonDto" alias="SignJsonDto"/>
		<typeAlias type="com.hcm.grw.dto.doc.DocBoxDto" alias="DocBoxDto"/>
		<typeAlias type="com.hcm.grw.dto.doc.TemplateDto" alias="TemplateDto"/>
		<typeAlias type="com.hcm.grw.dto.sm.GoboDto" alias="GoboDto"/>
        <typeAlias type="com.hcm.grw.dto.sm.ReplyDto" alias="ReplyDto"/>
        <typeAlias type="com.hcm.grw.dto.sm.ScbDto" alias="ScbDto"/>
	</typeAliases>
	

	
	
	
	

	<mappers>
		<mapper resource="sqls/DocBox_Statement.xml" />
		<mapper resource="sqls/SignTree_Statement.xml"/>
		<mapper resource="sqls/SignFavo_Statement.xml"/>
		<mapper resource="sqls/SignBox_Statement.xml"/>
		<mapper resource="sqls/Gobo_Statement.xml"/>
        <mapper resource="sqls/Reply_Statement.xml"/>
        <mapper resource="sqls/Scb_Statement.xml"/>
	</mappers>
</configuration>
