<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Integer" alias="Integer" />
		<typeAlias type="java.lang.String" alias="String" />
		<typeAlias type="java.util.Map" alias="Map" />
		<typeAlias type="com.hcm.grw.dto.EmployeeDto" alias="EmployeeDto" />
		<typeAlias type="com.hcm.grw.dto.SnsInfoDto" alias="SnsInfoDto" />
		<typeAlias type="com.hcm.grw.dto.OrderInfoListDto" alias="OrderInfoListDto" />
		<typeAlias type="com.hcm.grw.dto.OrderInfoDetailDto" alias="OrderInfoDetailDto" />
		<typeAlias type="com.hcm.grw.dto.CommuteDto" alias="CommuteDto" />
	</typeAliases>

	<mappers>
		<mapper resource="sqls/Employee_Statement.xml" />
	</mappers>
</configuration>
